# Compilation/working files
*swp
*pyc
*__pycache__*
*egg-info*

# Testing/coverage files
*assets
*pytest_report.html
*htmlcov
.coverage*
.pytest*
.tox
tests/log-*yaml
tests/logfiles
tests/pol_tensor_N2/
tests/phonons_N2/
*runtest*
*dry_run*
*minimal.yaml

# Extra files
.ipynb_checkpoints
*debug/
doc/build/
