# Compilation/working files
*swp
*pyc
*__pycache__*
*egg-info*

# Testing/coverage files
*assets
*pytest_report.html
*htmlcov
.coverage
.pytest*
.tox
tests/log-*yaml

# Extra files
.ipynb_checkpoints
InputParams.ipynb
log.yaml
*debug/
